  
<!DOCTYPE html>
<html>
  <head>
    <title>Add Map</title>
    <!-- <script src="script.js"></script> -->
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <style>
      
      #map {
        height: 600px;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <h3>NLP Tweet Map</h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var options = {
          zoom: 4,
          center: {lat: 41, lng: -102}
        }
        
        var map = new google.maps.Map(document.getElementById("map"),options);
        var geocoder = new google.maps.Geocoder();

        let location_string = ''
        let infoWindow = new google.maps.InfoWindow({
          position: {lat: 41, lng: -102}
        });

        map.addListener("click", (mapsMouseEvent) => {
          infoWindow.close();

          let latLng = mapsMouseEvent.latLng;

          infoWindow = new google.maps.InfoWindow({
            position: mapsMouseEvent.latLng,
          });

          /*this gets the actual address*/
          /*  
          geocoder.geocode({
            'latLng': mapsMouseEvent.latLng
          }, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
              if(results[0]){
                location_string = results[0].formatted_address;
              }
            }
          }); 
          */

          fetch(`/trends?latitude=${latLng.lat()}&longitude=${latLng.lng()}`)
          .then(response => response.json())
          .then(data => {
      
            let content_string = '<div id="content">' +
              '<div id="siteNotice">' +
              "</div>" +
              `<h1 id = "placeHeading" class="placeHeading">Trending here: ${data[0]['trending_keyword']}</h1>` +
              '<div id = "sentimentContent">' +
              `<p>Positive tweets: ${data[0]['num_positive_tweets']}</p>` +
              `<p>Negative tweets: ${data[0]['num_negative_tweets']}</p>` +
              `<p>Topics: ${data[0].major_topics.join(", ")}</p>` +
              `<p>Location: Latitude=${latLng.lat()}, Longitude=${latLng.lng()}</p>` +
              '</div>' +
              '</div>';

            infoWindow.setContent(
              content_string +
              location_string /* this won't return anything if the geocoder is commented out. I'm just not sure if we'll need it*/
            );
            infoWindow.open(map);

          });
        });

      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcLDUA_VF2aKEAWpLNG43UW7YxFfh00mw&callback=initMap">

    </script>
  </body>
</html>